<h1><%= @library.name %></h1>

<p>
  <strong>Nationality: </strong> <%= @library.nationality %>
</p>


<p><strong>Books it currently has:</strong></p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Author</th>
    <th scope="col">Title</th>
    <th scope="col">Year written</th>
    <th scope="col">#Copies</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each_with_index do |book, i| %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= book.author.name %></td>
      <td><%= book.title %></td>
      <td><%= book.year %></td>
      <td><%= book.numbers_in_library @library %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="btn-group" role="group">
  <%= link_to "Back to libraries", libraries_path, class: 'btn btn-secondary' %>
  <%= link_to "Add book to library", new_book_library_path(@library), class: 'btn btn-outline-success' %>
  <%= link_to "Edit this library", edit_library_path(@library), class: 'btn btn-outline-warning' %>
</div>



