


<div class="card mb-5 mt-5" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Author:</strong>
      <%= book.author.name %>
    </li>
    <li class="list-group-item">
      <strong>Title:</strong>
      <%= book.title %>
    </li>
    <li class="list-group-item">
        <strong>Isbn:</strong>
        <%= book.isbn %>
    </li>
    <li class="list-group-item">
      <strong>Year:</strong>
      <%= book.year %>
    </li>
    <li class="list-group-item">
      <strong>Author:</strong>
      <%= book.author.name %>
    </li>
  </ul>
</div>
